/*
 * This software is in the public domain under CC0 1.0 Universal plus a 
 * Grant of Patent License.
 * 
 * To the extent possible under law, the author(s) have dedicated all
 * copyright and related and neighboring rights to this software to the
 * public domain worldwide. This software is distributed without any
 * warranty.
 * 
 * You should have received a copy of the CC0 Public Domain Dedication
 * along with this software (see the LICENSE.md file). If not, see
 * <http://creativecommons.org/publicdomain/zero/1.0/>.
 */


/* ========================== body, etc ========================== */

html, body { height: 100%; }
body { padding-top: 51px; } /* this is the initial load setting, will get set dynamically for navbar-fixed-top */

/* #top, #content>.inner, #footer are the main page structure elements */
#content { overflow: visible; background: transparent; min-height: 100%; }
/* inner contains a bootstrap container-fluid div which has 16px left/right padding */
.inner { overflow: visible; background: transparent; border: 0; padding: 16px 0 58px 0; /* padding bottom is footer height (48) plus 10px */ }
#footer { width: 100%; position: relative; height: 48px; margin: -48px auto 0 auto; /* negative value of footer height */ }
#footer p { padding: 0.2em 0 0 0; font-size: 0.9em; margin: 0; text-align: center; }

#apps-footer-content { margin-top: 4px; text-align: center; }

/* ====================== headings, general ====================== */

div.message { border: 1px solid #DDDDDF; }
div.error span { color: red; }

strong { font-weight: bold; }
tt, pre, pre code { font-family: "Courier New", Courier, monospace; }
p, pre { white-space: pre-line; word-wrap: normal; word-break: normal; }
.bg-dark pre { background-color: #3a3a3a; color: #EEE; border-color: #222; }
pre.pre-plain { white-space: pre; }
p { margin: 0 0 8px 0; }
.padding-top-8 { padding-top: 8px; }
.padding-top-16 { padding-top: 16px; }

form { display: inline; }

a.disabled { pointer-events: none; text-decoration: none; }

/* ======================= XML Screen Styles ======================= */

/* styles for non-dynamic table layout, not using jquery-layout */
div.container-panel-outer {  }
div.container-panel-middle { display: table; table-layout: auto; width: 100%; height: 100%; }
div.container-panel-left { display: table-cell; /*width: 180px;*/ padding-right: 8px; height: 100%; vertical-align: top; }
div.container-panel-center-only { display: table-cell; width: 100%; height: 100%; padding: 0 8px 0 8px; vertical-align: top; }
div.container-panel-center-left { display: table-cell; height: 100%; padding: 0 8px 0 8px; vertical-align: top; }
div.container-panel-center-both { display: table-cell; height: 100%; padding: 0 8px 0 8px; vertical-align: top; }
div.container-panel-center-right { display: table-cell; height: 100%; padding: 0 8px 0 8px; vertical-align: top; }
div.container-panel-right { display: table-cell; padding-left: 8px; height: 100%; vertical-align: top; }
div.container-panel-header { width: 100%; }
div.container-panel-footer { width: 100%; }

/* ======================= XML Form Styles ======================= */

/* these are still used when a row has more than 2 fields in it */
.big-row-item { display: inline-block; margin-left: 17px; margin-right: 17px; }
.big-row-item input, .big-row-item select, .big-row-item span.select2-container { display: inline-block; }

/* These are for form-list titles and order by links */
.form-title { white-space: nowrap; font-weight: bold; }
.form-order-by { margin: 0; white-space: nowrap; height: 18px; display: inline-block; vertical-align: top; }
.form-order-by a { display: block; height: 10px; font-size: 10px; margin: -1px 0; }
.form-header-field { white-space: nowrap; padding-top: 4px; }

td span.form-display { display: inline-block; width: 100%; }

.form-date-find, .form-range-find { display: block; padding-bottom: 4px; }
.form-text-find input, .form-range-find input { display: inline-block; }

td .Long, td .Double, td .Float, td .Integer { text-align: center; }
td .BigDecimal, td .currency { text-align: right; }

/* ======================= Handy Styles ======================= */

ul.float-box { display: inline-block; list-style: none outside none; margin: 0 0 -8px 0; padding: 0; }
ul.float-box li { display: inline-block; line-height: 18px; margin: 0 8px 8px 0; padding: 8px; float: left; }

ul.float-plain { display: inline-block; list-style: none outside none; margin: 0 0 -8px 0; padding: 0; }
ul.float-plain li { display: inline-block; line-height: 18px; margin: 0 8px 8px 0; padding: 8px; float: left; }
ul.float-plain.condensed { margin: 0; }
ul.float-plain.condensed li { margin: 0 4px 0 0; padding: 4px; }

.shaded-area { padding: 8px; margin-bottom: 8px; line-height: 18px; }
span.shaded-area { display: inline-block; white-space: normal; }
.shaded-area.condensed { padding: 4px; margin-bottom: 4px; }

/* ================ Extensions for jquery-ui theme =============== */

/* this applies to autocomplete only */
input[type="text"].ui-autocomplete-input { width: auto; }
.ui-autocomplete-loading { background: white url('/images/wait_anim_16x16.gif') right center no-repeat; }
.ui-loading { background: white url('/images/wait_anim_16x16.gif') right center no-repeat; }
.ui-autocomplete { z-index: 1100; } /* needed for modal windows with z-index of 1050 */

/* ================ Extensions for bootstrap.min.css =============== */

.progress { margin-bottom: 8px; }

/* Styles to get around default Bootstrap input width:100%; note margin-right on .input-group is enough for a 14px icon but nothing more! */
.form-control { display: inline; min-width: 20px; width: auto; }
.input-group { display: inline-block; white-space: nowrap; margin-right: 39px; }
.input-group .form-control { display: inline; min-width: 20px; width: auto; }
.input-group .input-group-addon, .input-group .input-group-btn { display: inline; line-height: 34px; padding: 8px 12px; }

.nav.nav-tabs { margin-bottom: 8px; }

/* Bootstrap by default has a 20px height for this, for 30px height shift up 5px */
.navbar-brand>img { height: 30px; margin-top: -5px; }
/* Bootstrap has no margin for a.navbar-btn so add them; note margin-right in bootstrap is -15px because of other styles, so for a margin of 10px set to -5px */
.navbar-right.btn { margin-right: -6px; margin-left: 10px; }
.navbar-right.btn-group { margin-right: -6px; margin-left: 0px; }

nav .pagination { margin: 4px 0 0 0; }
nav form.form-inline { display: inline-block; margin: 4px 0 0 0; float: right; }

/* Extend the Bootstrap panel, add support for a panel-toolbar, treat h5 and span just like bootstrap panel-title */
.panel .panel-heading { position: relative; }
.panel .panel-heading .panel-toolbar { position: absolute; top: 0px; right: 0px; }
.panel .panel-toolbar .label { display: inline-block; margin: 4px 4px 4px 0; }
.panel .panel-heading h5, .panel .panel-heading span { display: inline-block; margin-top: 0; margin-bottom: 0; font-size: 16px; color: inherit; }
.panel, .panel .panel-body { background: transparent; }

.btn { margin: 4px 4px 4px 0; }
.btn-group .btn { margin-right: 0; }
.btn-group { margin-right: 4px; }

/* Variations on Bootstrap default table styles */
.table>thead>tr>th { vertical-align: top; }
.table>tbody>tr>td { vertical-align: middle; }
.table { margin-bottom: 8px; }

/* ================ Other, Fix Styles =============== */

input[type=radio], input[type=checkbox] { height: auto; }

.select2-container { min-width: 60px; }
.date-period .select2-container--bootstrap { display: inline-block; }

a.jstree-anchor { white-space: normal; }
.jstree-default .jstree-anchor { height: auto; }

.modal-dialog { text-align: left; } /* needed when right aligning the dialog button */

/* ======================= Screen-specific ======================= */

.app-list-link { font-size: 1.5em; display: block; width: 320px; margin: 8px auto 8px auto; }

.ScreenTreeNested { margin: 4px 0 4px 12px; padding: 0 0 0 12px; border-left: 1px dashed lightgrey; }

.Login .form-signin { display: block; width: 340px; padding: 10px; margin: 0 auto; border-radius: 3px; }
.Login .form-signin input { width: 100%; height: auto; font-size: 1.2em; }
.Login .form-signin input.top { margin-bottom: -1px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.Login .form-signin input.middle { margin-bottom: -1px; border-radius: 0; }
.Login .form-signin input.bottom { border-top-left-radius: 0; border-top-right-radius: 0; margin-bottom: 10px; }

/* wiki screen, including CodeMirror class */
#wiki-page-area th, #wiki-page-area td { padding: 2px 4px 2px 4px; border: thin solid lightgrey; }
.CodeMirror, .CodeMirror-scroll { min-height: 600px; min-width: 800px; }

